.btn {
  padding: 1.8rem 2.6rem;
  border-radius: 12px;
  white-space: nowrap;
  background: none;
  color: #bdbdbd;
  font-weight: 500;
}

.fullWidth {
  width: 100%;
}

.primary {
  background: #3db46d;
  color: #fff;
  font-weight: 700;
}

.delete {
  background: none;
  background: #EB5757 ;
  color: #FFF;
}

.sm {
  min-width: unset;
  padding: 1.4rem 2.6rem;
}

.xsm {
  padding: .5rem 1.5rem;
}